# Ignore the virtual environment
venv/
env/

# Ignore database files
*.sqlite3
*.db

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and environment variables
*.log
.env
*.ini
*.pem
*.key
secrets.json

# Ignore static and media files (if using collectstatic)
staticfiles/
media/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py
